---
eleventyExcludeFromCollections: true
layout: "index.njk"
---

{%- for post in collections.post | reverse -%}
<article class="{{ post | setClasses }}">
{%- if post.date %}
  <time class="postdate" datetime="{{ post.date | getISOString }}">
    <a href="{{ post.url }}">{{ post.date | getHumanDate }}</a>
  </time>
{%- endif %}
  <div class="postbody">
    {{ post.templateContent | safe }}
  </div>
</article>
{%- endfor -%}