---
eleventyExcludeFromCollections: true
layout: "index.njk"
---
{%- for post in collections.all | reverse -%}
<article class="{{ post.data.type }}">
{%- if post.data.date %}
  <time class="postdate" datetime="{{ post.data.date | toISOString }}"><a href="{{ post.url }}">{{ post.data.date | formatDateForBlog }}</a></time>
{%- endif %}
  <div class="postbody">
    {{ post.templateContent | safe }}
  </div>
</article>
{%- endfor -%}
