<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Charlie Park’s tumblelog</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    {% include "_style.css" %}
  </style>
</head>
<body>
  <header>
    <h1><a href="/">Charlie Park!</a></h1>
    <div>(or, rather, his tumblelog)</div>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <p>Hey there. I’m Charlie. I like adventures, friends, and adventures with friends.</p>
    <p>Would love for you to say hi! charlie@charliepark.org</p>
  </footer>
</body>
</html>

