---
layout: index.njk
---

<article class="{{ type }}">
{%- if page.date %}
<time class="postdate" datetime="{{ page.date | getISOString }}">
  <a href="{{ url }}">{{ page.date | getHumanDate }}</a>
</time>
{%- endif %}
<div class="postbody">
  {{ content | safe }}
</div>
</article>
